<%- include('partials/head', { title: 'Inicio' }) %>

<%- include('partials/header') %>
<main class="container">
    <section class="movies-container">
        <% locals.movies?.forEach(movie => { %>
        <article class="movie">
            <img class="movie-poster" src="<%= movie.poster %>" alt="<%= movie.title %>">
        </article>
        <% }); %>
    </section>
</main>
<%- include('partials/footer') %>